
h1 {color: red;
text-align: center;
font-size: 150px;
background: black;
font-family: "impact";
}

h2 {color: red;
font-family: "impact";}

h3 {color: black;
  text-align: center;
font-size: 50px;
font-family: "impact";}

.lists {
  font-family: "courrier";
}
p {text-align: left;}

div {background: red;}

table, th, td {border: 1px solid red;
font-family: "impact";
text-align: center;}

td {font-family: "courrier";}

.days {font-family: "impact";
color: red;}
