
h1 {color: red;
text-align: center;
font-size: 150px;
background: black;}

h2 {color: red;}

h3 {color: black;
  text-align: center;
font-size: 50px;
font-family: 'times new roman';}

.lists {
  font-family: "comic sans";
  font-weight: bold;
}
p {text-align: left;}
